<!DOCTYPE html>
{% extends "logins/base.html"%}
  {% block body_block %}
  {% load staticfiles %}
  {% load static %}
    <div class="container">

      <div class="jumbotron">
        {% if registrado %}
          <h1>gracias por registrase</h1>
        {% else %}
          <h1>Registrese aqui</h1>
          <h3>Rellenar el formulario: </h3>

          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p}}
            {{ profile_form.as_p}}
            <input type="submit" class="btn btn-primary"name="" value="Enviar... ">

          </form>
        {% endif %}
      </div>
    </div>
    {% endblock %}
